<div class="arrows">
  <div class="arrow white"></div>
  <div class="arrow orange-light"></div>
  <div class="arrow orange"></div>
  <div class="arrow red"></div>
  <div class="arrow purple"></div>
</div>
<div class="footer">
  {{ $spielhuus := resources.Get "images/spielhuus.svg" }}
  {{ $github := resources.Get "images/github-mark.svg" }}
  <a href="{{ .Site.Home.RelPermalink }}"><img src="{{ $spielhuus.RelPermalink }}" class="social"/></a>
  <a href="https://github.com/spielhuus/"><img src="{{ $github.RelPermalink }}" class="social"/></a>
  <br/>
  <span>Copyright {{ now.Year }}. All rights reserved.</span>
</div>
