baseURL = "http://localhost:1313"
languageCode = 'en-us'
title = 'spielhuus'

[[module.mounts]]
  source = "assets"
  target = "assets"
[[module.mounts]]
  source = "src"
  target = "assets"
[[module.mounts]]
  source = "content"
  target = "content"
[[module.mounts]]
  source = "static"
  target = "static"
[[module.mounts]]
  source = "layouts"
  target = "layouts"
[[module.mounts]]
  source = "node_modules/monaco-editor/esm/vs"
  target = "static/monaco/vs"

[markup.goldmark.renderer]
  unsafe = true # Allow HTML in md files

  [markup.highlight]
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = false
    tabWidth = 4
