<div class="arrows">
  <div class="arrow background"></div>
  <div class="arrow orange"></div>
  <div class="arrow darkorange"></div>
  <div class="arrow red"></div>
  <div class="arrow purple"></div>
</div>
<div class="footer">
  {{ $spielhuus := resources.Get "images/spielhuus.svg" }}
  {{ $github := resources.Get "images/github-mark.svg" }}
  <a href="/"><span class="icon icon-spielhuus"></span></a>
  <a href="https://github.com/spielhuus/"><span class="icon icon-github"></span></a>
  <br/>
  <span>Copyright {{ now.Year }}. All rights reserved.</span>
</div>

<script>
  // control the light/dark theme
  const themeToggleButton = document.getElementById('theme-toggle');
  const docElement = document.documentElement;

  const setTheme = (theme) => {
    docElement.setAttribute('data-theme', theme);
    localStorage.setItem('theme', theme);
    if (theme === 'dark') {
      themeToggleButton.textContent = '🌙';
    } else {
      themeToggleButton.textContent = '☀️';
    }
  };

  themeToggleButton.addEventListener('click', () => {
    const currentTheme = docElement.getAttribute('data-theme');
    if (currentTheme === 'dark') {
      setTheme('light');
    } else {
      setTheme('dark');
    }
  });

  const savedTheme = localStorage.getItem('theme');
  if (savedTheme) {
    setTheme(savedTheme);
  } else {
    const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    if (prefersDark) {
      setTheme('dark');
    } else {
      setTheme('light');
    }
  }
</script>
