<div class="arrows">
  <div class="arrow white"></div>
  <div class="arrow orange-light"></div>
  <div class="arrow orange"></div>
  <div class="arrow red"></div>
  <div class="arrow purple"></div>
</div>
<div class="footer">
  {{ $spielhuus := resources.Get "images/spielhuus.svg" }}
  {{ $github := resources.Get "images/github-mark.svg" }}
  <a href="/"><span class="icon icon-spielhuus"></span></a>
  <a href="https://github.com/spielhuus/"><span class="icon icon-github"></span></a>
  <br/>
  <span>Copyright {{ now.Year }}. All rights reserved.</span>
</div>
