:root {
  --darkblue: rgb(10 49 68);
  --blue: rgb(3 83 99);
  --lightblue: rgb(12 105 121);
  --purple: rgb(142 96 117);
  --pink: rgb(191 85 105);
  --red: rgb(218 59 59);
  --orange: rgb(207 121 100);
  --yellow: rgb(247 240 194);
  --white: rgb(255 255 255);
  --paper-white: rgb(251 248 228);
  --green: hsl(79deg 100% 50%);
  --base: 0.8rem;
  --width: 960px;
  --arrow-height: calc(2 * var(--base));
  --grid-gutter: var(--base);
  --grid-height: calc(2 * var(--base));
  --social-icon: calc(2.5 * var(--grid-height));

  /* {{ $image := resources.Get "images/arrow.svg" }} */
  --arrow-file: url({{ $image.RelPermalink }});

  /*--arrow-right-file: url("/assets/arrow-right.fd936d11.svg");*/
  --maincolor: orange;
  --bordercl: rebeccapurple;
}

@font-face {
  font-family: "C64_Pro-STYLE";

  /* {{ $font := resources.Get "fonts/C64_Pro-STYLE.woff2" }} */
  src: url({{ $font.RelPermalink }});
}

html {
  color: #232333;
  font-family: "Roboto Mono", monospace;
  font-size: 93.75%;
  line-height: 1.6em;
  hyphens: auto;
}

body {
  display: rows;
  grid-template-columns: 1fr min(800px, calc(100% - 2rem)) 1fr;
}

* {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

::selection {
  background: var(--maincolor);
  color: #fff;
}

/* Containers */
.content {
  overflow-wrap: break-word;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr min(800px, calc(100% - 2rem)) 1fr;
}

.content > * {
  grid-column: 2;
}

/* Header */
header,
footer {
  grid-column: 1 / -1;
  --spacing: var(--grid-height);

  background: var(--white);
  color: var(--orange);
  padding-top: 1px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
  margin-top: 2em;
}

header > h1 {
  margin: 0;
  margin-top: 0em;
  padding: 0;
  flex-basis: 50%;
  transform-origin: 0% 100%;
  transform: rotate(2deg);
  z-index: 10;
}

header > h1 > a {
  text-decoration: none;
  font-family: "C64_Pro-STYLE";
  font-size: 3em;
}

header > h1 > a:link {
  color: var(--orange);
}

header > h1 > a:active {
  color: var(--orange);
}

header > h1 > a:visited {
  color: var(--orange);
}

header > h1 > a:hover {
  color: var(--yellow);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  line-height: 1.5em;
}

.content h1::before {
  color: var(--maincolor);
  content: "# ";
}

h2::before {
  color: var(--maincolor);
  content: "## ";
}

h3::before {
  color: var(--maincolor);
  content: "### ";
}

h4::before {
  color: var(--maincolor);
  content: "#### ";
}

h5::before {
  color: var(--maincolor);
  content: "##### ";
}

h6::before {
  color: var(--maincolor);
  content: "###### ";
}

header > .arrows,
footer > .arrows {
  flex-basis: calc(100% + 1.3 * var(--spacing));
  /*margin: calc(-1 * var(--spacing));*/
}

header > .arrows {
  margin-bottom: calc(1 * var(--grid-height));
}

.arrow {
  position: relative;
  height: var(--grid-height);
  background: var(--color);
}

.arrow::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--arrow-height);
  background: var(--color);
  mask: var(--mask);
  top: 100%;

  --mask: var(--arrow-file) 0% 100%/100% 200%;
}

.arrow:nth-of-type(1) {
  z-index: 9;
}

.arrow:nth-of-type(2) {
  z-index: 8;
}

.arrow:nth-of-type(3) {
  z-index: 7;
}

.arrow:nth-of-type(4) {
  z-index: 6;
}

.arrow:nth-of-type(5) {
  z-index: 5;
}

.arrow:nth-of-type(6) {
  z-index: 4;
}

.arrow:nth-of-type(7) {
  z-index: 3;
}

.arrow.darkblue {
  --color: var(--darkblue);
}

.arrow.blue {
  --color: var(--blue);
}

.arrow.lightblue {
  --color: var(--lightblue);
}

.arrow.purple {
  --color: var(--purple);
}

.arrow.pink {
  --color: var(--pink);
}

.arrow.red {
  --color: hsl(15.9deg 64.8% 49%);
}

.arrow.orange-light {
  --color: hsl(37.8deg 78.9% 68.4%);
}

.arrow.orange {
  --color: hsl(30.2deg 73.4% 52.7%);
}

.arrow.green {
  --color: hsl(51.3deg 26.6% 40.6%);
}

.arrow.yellow {
  --color: var(--yellow);
}

.arrow.white {
  --color: var(--white);
}

footer {
  width: 100%;
  text-align: center;
}

.footer {
  padding-top: calc(3 * var(--grid-height));
}

.highlight {
  --color: var(--paper-white);

  margin-top: var(--grid-height);
  margin-bottom: var(--grid-height);
  position: relative;
  background-color: var(--paper-white);
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr min(800px, calc(100% - 2rem)) 1fr;
}

pre > code,
.codestyle > code {
  box-sizing: border-box;
}

pre,
.codestyle {
  --color: var(--paper-white);
  --box-margin: calc(2 * var(--grid-height));

  grid-column: 2;
  background-color: var(--color);
  /*margin: var(--box-margin) 0;*/
}

:not(pre) > code {
  color: var(--blue);
  white-space: nowrap;
}

pre::before,
pre::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--arrow-height);
  mask: var(--mask);
  background-color: var(--paper-white);
}

pre::before {
  top: calc(var(--arrow-height) * -1);
  --mask: var(--arrow-file) 0% 0%/100% 200%;
}

pre::after {
  top: calc(100%);
  --mask: var(--arrow-file) 0% 100%/100% 200%;
}

.content > figure {
  grid-column: 1 / -1;
  text-align: center;
}

.social {
  width: var(--social-icon);
  height: var(--social-icon);
  padding: var(--grid-gutter);
}

canvas {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  canvas {
    width: 100%;
    height: auto;
  }
}

.content > figure {
  grid-column: 1 / -1;
  text-align: center;

  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* PreWrapper */
/*.chroma {*/
/*  color: #cad3f5;*/
/*  background-color: #24273a;*/
/*}*/
/* Other */
.chroma .x {
}
/* Error */
.chroma .err {
  color: #ed8796;
}
/* CodeLine */
.chroma .cl {
}
/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}
/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineHighlight */
.chroma .hl {
  background-color: #494d64;
}
/* LineNumbersTable */
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #8087a2;
}
/* LineNumbers */
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #8087a2;
}
/* Line */
.chroma .line {
  display: flex;
}
/* Keyword */
.chroma .k {
  color: #c6a0f6;
}
/* KeywordConstant */
.chroma .kc {
  color: #f5a97f;
}
/* KeywordDeclaration */
.chroma .kd {
  color: #ed8796;
}
/* KeywordNamespace */
.chroma .kn {
  color: #8bd5ca;
}
/* KeywordPseudo */
.chroma .kp {
  color: #c6a0f6;
}
/* KeywordReserved */
.chroma .kr {
  color: #c6a0f6;
}
/* KeywordType */
.chroma .kt {
  color: #ed8796;
}
/* Name */
.chroma .n {
}
/* NameAttribute */
.chroma .na {
  color: #8aadf4;
}
/* NameClass */
.chroma .nc {
  color: #eed49f;
}
/* NameConstant */
.chroma .no {
  color: #eed49f;
}
/* NameDecorator */
.chroma .nd {
  color: #8aadf4;
  font-weight: bold;
}
/* NameEntity */
.chroma .ni {
  color: #8bd5ca;
}
/* NameException */
.chroma .ne {
  color: #f5a97f;
}
/* NameLabel */
.chroma .nl {
  color: #91d7e3;
}
/* NameNamespace */
.chroma .nn {
  color: #f5a97f;
}
/* NameOther */
.chroma .nx {
}
/* NameProperty */
.chroma .py {
  color: #f5a97f;
}
/* NameTag */
.chroma .nt {
  color: #c6a0f6;
}
/* NameBuiltin */
.chroma .nb {
  color: #91d7e3;
}
/* NameBuiltinPseudo */
.chroma .bp {
  color: #91d7e3;
}
/* NameVariable */
.chroma .nv {
  color: #f4dbd6;
}
/* NameVariableClass */
.chroma .vc {
  color: #f4dbd6;
}
/* NameVariableGlobal */
.chroma .vg {
  color: #f4dbd6;
}
/* NameVariableInstance */
.chroma .vi {
  color: #f4dbd6;
}
/* NameVariableMagic */
.chroma .vm {
  color: #f4dbd6;
}
/* NameFunction */
.chroma .nf {
  color: #8aadf4;
}
/* NameFunctionMagic */
.chroma .fm {
  color: #8aadf4;
}
/* Literal */
.chroma .l {
}
/* LiteralDate */
.chroma .ld {
}
/* LiteralString */
.chroma .s {
  color: #a6da95;
}
/* LiteralStringAffix */
.chroma .sa {
  color: #ed8796;
}
/* LiteralStringBacktick */
.chroma .sb {
  color: #a6da95;
}
/* LiteralStringChar */
.chroma .sc {
  color: #a6da95;
}
/* LiteralStringDelimiter */
.chroma .dl {
  color: #8aadf4;
}
/* LiteralStringDoc */
.chroma .sd {
  color: #6e738d;
}
/* LiteralStringDouble */
.chroma .s2 {
  color: #a6da95;
}
/* LiteralStringEscape */
.chroma .se {
  color: #8aadf4;
}
/* LiteralStringHeredoc */
.chroma .sh {
  color: #6e738d;
}
/* LiteralStringInterpol */
.chroma .si {
  color: #a6da95;
}
/* LiteralStringOther */
.chroma .sx {
  color: #a6da95;
}
/* LiteralStringRegex */
.chroma .sr {
  color: #8bd5ca;
}
/* LiteralStringSingle */
.chroma .s1 {
  color: #a6da95;
}
/* LiteralStringSymbol */
.chroma .ss {
  color: #a6da95;
}
/* LiteralNumber */
.chroma .m {
  color: #f5a97f;
}
/* LiteralNumberBin */
.chroma .mb {
  color: #f5a97f;
}
/* LiteralNumberFloat */
.chroma .mf {
  color: #f5a97f;
}
/* LiteralNumberHex */
.chroma .mh {
  color: #f5a97f;
}
/* LiteralNumberInteger */
.chroma .mi {
  color: #f5a97f;
}
/* LiteralNumberIntegerLong */
.chroma .il {
  color: #f5a97f;
}
/* LiteralNumberOct */
.chroma .mo {
  color: #f5a97f;
}
/* Operator */
.chroma .o {
  color: #91d7e3;
  font-weight: bold;
}
/* OperatorWord */
.chroma .ow {
  color: #91d7e3;
  font-weight: bold;
}
/* Punctuation */
.chroma .p {
}
/* Comment */
.chroma .c {
  color: #6e738d;
  font-style: italic;
}
/* CommentHashbang */
.chroma .ch {
  color: #6e738d;
  font-style: italic;
}
/* CommentMultiline */
.chroma .cm {
  color: #6e738d;
  font-style: italic;
}
/* CommentSingle */
.chroma .c1 {
  color: #6e738d;
  font-style: italic;
}
/* CommentSpecial */
.chroma .cs {
  color: #6e738d;
  font-style: italic;
}
/* CommentPreproc */
.chroma .cp {
  color: #6e738d;
  font-style: italic;
}
/* CommentPreprocFile */
.chroma .cpf {
  color: #6e738d;
  font-weight: bold;
  font-style: italic;
}
/* Generic */
.chroma .g {
}
/* GenericDeleted */
.chroma .gd {
  color: #ed8796;
  background-color: #363a4f;
}
/* GenericEmph */
.chroma .ge {
  font-style: italic;
}
/* GenericError */
.chroma .gr {
  color: #ed8796;
}
/* GenericHeading */
.chroma .gh {
  color: #f5a97f;
  font-weight: bold;
}
/* GenericInserted */
.chroma .gi {
  color: #a6da95;
  background-color: #363a4f;
}
/* GenericOutput */
.chroma .go {
}
/* GenericPrompt */
.chroma .gp {
}
/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}
/* GenericSubheading */
.chroma .gu {
  color: #f5a97f;
  font-weight: bold;
}
/* GenericTraceback */
.chroma .gt {
  color: #ed8796;
}
/* GenericUnderline */
.chroma .gl {
  text-decoration: underline;
}
/* TextWhitespace */
.chroma .w {
}
